/* NOTE: this is a supplemental style sheet. You should only include orange.css OR green.css OR blue.css on all individual html pages. One of these supplemental style sheets MUST be included in addition to main.css */

/***** General styling *****/
body {
  background-color: #F3F3FB;
}


/***** Header (found in ./index.html) *****/
.navHeader {
  color: #2E3192;
}

.headerGradient {
  background: rgba(47, 50, 147, 0.6);
  background: -webkit-linear-gradient(rgba(47, 50, 147, 0.6), rgba(243, 243, 251, 1));
  background: -o-linear-gradient(rgba(47, 50, 147, 0.6), rgba(243, 243, 251, 1));
  background: -moz-linear-gradient(rgba(47, 50, 147, 0.6), rgba(243, 243, 251, 1));
  background: linear-gradient(rgba(47, 50, 147, 0.6), rgba(243, 243, 251, 1));
}

.headerTitle {
  color: #0F773C;
}

.headerInfoTop {
  color: #0F773C;
}

.headerInfoBottom {
  color: #0F773C;
}


/***** Main Content: general styling *****/
.indPageTitle {
  color: #0F773C;
}


/***** Page-specific (multiple): call for papers, accommodations *****/
.listItems {
  background-color: #F3F3FB;
}
