/* NOTE: this is a theme stylesheet. You do NOT need to include additional stylesheets on any of the pages. If you would like a custom style, add to this file.  Please see installation docs for more information on how to change the theme. */

/***** General styling *****/
body {
  background-color: #FEFDFB;
}


/***** Nav (in /fragments/nav.html) *****/
nav#mainmenu {
  background-color: #FEFDFB;
}


/***** Header (found in ./index.html) *****/
.navHeader {
  color: #CB831E;
}

.headerGradient {
  background: rgba(204, 132, 30, 0.6);
  background: -webkit-linear-gradient(rgba(204, 132, 30, 0.6), rgba(254, 253, 251, 1));
  background: -o-linear-gradient(rgba(204, 132, 30, 0.6), rgba(254, 253, 251, 1));
  background: -moz-linear-gradient(rgba(204, 132, 30, 0.6), rgba(254, 253, 251, 1));
  background: linear-gradient(rgba(204, 132, 30, 0.6), rgba(254, 253, 251, 1));
}

.headerTitle {
  color: #2E3192;
}

.headerInfoTop {
  color: #2E3192;
}

.headerInfoBottom {
  color: #2E3192;
}


/***** Main Content: general styling *****/
.indPageTitle {
  color: #0F773C;
}


/***** Page-specific (multiple): call for papers, accommodations *****/
.listItems {
  background-color: #FEFDFB;
}
