<!-- NOTE: insert after last content row -->
      <div class="row">
        <footer class="col-sm-12 text-center footer">
          <small>CRYPTO 2017</small>
        </footer>
      </div>
    </main>

    <!-- Bootstrap scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- NOTE: hilios and cryptoCountdowns are only necessary if countdowns are included on the page in question -->
    <!-- Bootstrap plugins -->
    <script src="./js/jasny-bootstrap.js" type="text/javascript"></script>
    <script src="./js/hilios-countdown.js" type="text/javascript"></script>

    <!-- Personal scripts -->
    <script src="./js/cryptoCountdowns.js" type="text/javascript"></script>
  </body>
</html>
