<!-- NOTE: insert immediately after bottom of nav section -->
    <div class="container-fluid">
      <div class="row">
        <header class="headerImg">
          <div class="col-sm-12 headerGradient">
            <div class="col-sm-6">
              <h1 class="headerTitle">CRYPTO 2017</h1>
            </div>
            <div class="col-sm-6">
              <h3 class="headerInfoTop">August 20-24 2017</h3>
              <h3 class="headerInfoBottom">Santa Barbara, CA, USA</h3>
            </div>
          </div>
        </header>
      </div>
    <!-- NOTE: start row for main content here -->
