<a class="nav-link text-center" class="navmenu-brand" href="http://www.iacr.org">
  <img src="./images/iacr-logo.png" class="img-fluid mb-4" id="logo" alt="IACR logo, a deep purple circle split into pieces with the letters I, A, C, R in individual pieces of the circle" />
</a>

<!-- <ul class="nav navmenu-nav"> -->
<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link" href="index.php">Home</a>
  </li>
  <!-- </ul> -->
  <!-- <ul class="nav navmenu-nav"> -->
  <li>
    <h4 class="navHeader mt-4">Technical Program</h4>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="./callforpapers.php">Call for Papers</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="./papersubmission.php">Paper Submission</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="./acceptedpapers.php">Accepted Papers</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="./program.php">Program</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="./rumpsession.php">Rump Session</a>
  </li>
<!-- </ul> -->

<!-- <ul class="navbar-nav"> -->
  <li>
    <h4 class="navHeader mt-4">General Information</h4>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="./registration.php">Registration</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="./conduct.php">Code of Conduct</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="./travel.php">Travel</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="./accommodations.php">Accommodations</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="./visas.php">Visas</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="./stipends.php">Stipends</a>
  </li>
<!-- </ul> -->

<!-- <ul class="nav navmenu-nav"> -->
  <li class="nav-item">
    <a class="nav-link" href="./contact.php">Contact</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="./sponsors.php">Sponsors</a>
  </li>
</ul>
