<!-- NOTE: insert after <!DOCTYPE html>
<html lang="en"> -->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Crypto 2017</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/spacelab/bootstrap.min.css" rel="stylesheet">

    <!-- Extensions of bootstrap -->
    <link rel="stylesheet" href="./styles/jasny-bootstrap.css" />
    <link rel="stylesheet" href="./styles/navmenu.css">

    <!-- Styling -->
    <link href="./styles/main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed" rel="stylesheet">
  </head>

  <body>
    <nav class="navmenu navmenu-default navmenu-fixed-left offcanvas-sm" role="navigation">
      <a class="navmenu-brand" href="http://www.iacr.org">
        <img src="./images/iacr-logo.png" class="img-responsive center-block" id="logo" alt="IACR logo, a deep purple circle split into pieces with the letters I, A, C, R in individual pieces of the circle" />
      </a>
      <ul class="nav navmenu-nav">
        <li>
          <a href="/iacr">Home</a>
        </li>
      </ul>
      <ul class="nav navmenu-nav">
        <li>
          <h4 class="navHeader">Technical Program</h4>
        </li>
        <li>
          <a href="./callforpapers.html">Call for Papers</a>
        </li>
        <li>
          <a href="./papersubmission.html">Paper Submission</a>
        </li>
        <li>
          <a href="./acceptedpapers.html">Accepted Papers</a>
        </li>
        <li>
          <a href="./program.html">Program</a>
        </li>
        <li>
          <a href="./rumpsession.html">Rump Session</a>
        </li>
      </ul>
      <ul class="nav navmenu-nav">
        <li>
          <h4 class="navHeader">General Information</h4>
        </li>
        <li>
          <a href="./registration.html">Registration</a>
        </li>
        <li>
          <a href="./travel.html">Travel</a>
        </li>
        <li>
          <a href="./accommodations.html">Accommodations</a>
        </li>
        <li>
          <a href="./visas.html">US Visas</a>
        </li>
        <li>
          <a href="./stipends.html">Stipends</a>
        </li>
      </ul>
      <ul class="nav navmenu-nav">
        <li>
          <a href="./contact.html">Contact Information</a>
        </li>
        <li>
          <a href="./sponsors.html">Sponsors</a>
        </li>
      </ul>
    </nav>

    <nav class="navbar navbar-default navbar-fixed-top hidden-md hidden-lg">
      <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </nav>

    <!-- NOTE: header comes directly after this, starting with the main tag -->
