<!-- alternative table presentation but doesn't size correctly on mobile -->
<section class="col-sm-8 col-sm-offset-2 text-center table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="tabTitle">
          Registration Cost
        </th>
        <th class="tabTitle">
          Regular
        </th>
        <th class="tabTitle">
          Student
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          Registration Fee + IACR dues<br />
          (NOT attending CHES)
        </td>
        <td>
          $600
        </td>
        <td>
          $300
        </td>
      </tr>
      <tr>
        <td>
          Registration Fee + IACR dues<br />
          (attending CHES)
        </td>
        <td>
          $550
        </td>
        <td>
          $275
        </td>
      </tr>
      <tr>
        <td>
          Attended prior 2016 IACR conferences/workshops<br />
          (NOT attending CHES)
        </td>
        <td>
          $550
        </td>
        <td>
          $275
        </td>
      </tr>
      <tr>
        <td>
          Attended prior 2016 IACR conferences/workshops<br />
          (attending CHES)
        </td>
        <td>
          $500
        </td>
        <td>
          $250
        </td>
      </tr>
    </tbody>
  </table>
</section>
