<div class="sidebar-brand d-md-none">
  <a href="/">
    <span class="long_conf"></span>
  </a>
  <div id="close-sidebar">
    <ion-icon name="close"></ion-icon>
  </div>
</div>
<div class="sidebar-header mt-md-3">
  <a class="nav-link text-center" href="http://www.iacr.org">
    <img src="./images/iacr-logo.png" class="img-fluid" id="logo" alt="IACR logo, a deep purple circle split into pieces with the letters I, A, C, R in individual pieces of the circle" />
  </a>
</div>
<div class="navMenu">
  <ul class="nav flex-column pl-2">
    <li>
      <h5 class="navHeader mt-4 pl-2">
        Technical Program
      </h5>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="./callforpapers.html">
        Call for Papers
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="./papersubmission.html">
        Paper Submission
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="./acceptedpapers.html">
        Accepted Papers
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="./program.html">
        Program
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="./rumpsession.html">
        Rump Session
      </a>
    </li>
    <li>
      <h5 class="navHeader mt-4 pl-2">
        General Information
      </h5>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="./registration.html">
        Registration
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="./conduct.html">
        Code of Conduct
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="./travel.html">
        Travel
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="./accommodations.html">
        Accommodations
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="./visas.html">
        Visas
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="./stipends.html">
        Stipends
      </a>
    </li>
    <li class="nav-item mt-4">
      <a class="nav-link" href="./contact.html">
        Contact
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="./sponsors.html">
        Sponsors
      </a>
    </li>
  </ul>
</div>
