<a class="navmenu-brand" href="http://www.iacr.org">
<img src="./images/iacr-logo.png" class="img-responsive center-block" id="logo" alt="IACR logo, a deep purple circle split into pieces with the letters I, A, C, R in individual pieces of the circle" />
</a>

<ul class="nav navmenu-nav">
  <li>
    <a href="index.html">Home</a>
  </li>
  </ul>
  <ul class="nav navmenu-nav">
  <li>
    <h4 class="navHeader">Technical Program</h4>
  </li>
  <li>
    <a href="./callforpapers.html">Call for Papers</a>
  </li>
  <li>
    <a href="./papersubmission.html">Paper Submission</a>
  </li>
  <li>
    <a href="./acceptedpapers.html">Accepted Papers</a>
  </li>
  <li>
    <a href="./program.html">Program</a>
  </li>
  <li>
    <a href="./rumpsession.html">Rump Session</a>
  </li>
</ul>

<ul class="nav navmenu-nav">
  <li>
    <h4 class="navHeader">General Information</h4>
  </li>
  <li>
    <a href="./registration.html">Registration</a>
  </li>
  <li>
    <a href="./travel.html">Travel</a>
  </li>
  <li>
    <a href="./accommodations.html">Accommodations</a>
  </li>
  <li>
    <a href="./visas.html">Visas</a>
  </li>
  <li>
    <a href="./stipends.html">Stipends</a>
  </li>
</ul>

<ul class="nav navmenu-nav">
  <li>
    <a href="./contact.html">Contact</a>
  </li>
  <li>
    <a href="./sponsors.html">Sponsors</a>
  </li>
</ul>
