/* NOTE: this is a supplemental style sheet. You should select one of the
styles/*_theme.css files to include (orange_theme.css is included by default).
*/

/* Color scheme created by Kay McKelly, inspired by tropical sunsets (https://coolors.co/efe555-9c4683-4a1f60-33004d-8b2e4b) */



/***** General Styling *****/
#pageTop {
  /* equivalent of d-flex */
  display: -ms-flexbox !important;
  display: flex !important;
  /* equivalent of flex-column-reverse */
  -ms-flex-direction: column-reverse !important;
  flex-direction: column-reverse !important;
}

body {
  /* no longer necessary/doesn't do anything */
  /* background-size:cover; */
  /* background: #33004D; */
  background: linear-gradient(7deg, #11001A 0%, #33004D 20%, #4A1F60 25%, #8B2E4B 45%, #9C4683 65%, #EFE555 95%);
  /* doesn't do anything */
  /* background-repeat: no-repeat; */
  background-attachment: fixed;
}



/***** Nav (in /includes/nav.php) *****/
ul#nav-ul {
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 0.8em;
}

/* idk what this does */
/* @media only screen and (max-width: 768px) {
   background-color: #11001A;
} */

ul#nav-ul a.nav-link {
  color: #0D0D0D;
}

@media only screen and (max-width: 768px) {
    li.nav-item {
        background-color: #0D0D0D;
    }

    ul#nav-ul a.nav-link {
      color: #FEFDFB;
      padding: 1rem;
    }
}

div.dropdown-menu {
    background-color: #0D0D0D;
    border: none;
}

@media only screen and (min-width: 768px) {
  /* makes nav links closer together - whyyyyy */
  /* #nav-ul {
    width: 80% !important;
  } */

  /* idk what this does */
  /* #nav-ul .nav-item {
    flex: 1 1 auto;
    text-align: center;
  } */

  div.dropdown-menu {
    /* make sure dropdown doesn't disappear when you move. */
    top: 2.2rem;
  }

  /* doesn't seem to change anything */
  /* a.dropdown-item:hover {
    color: #0D0D0D;
  } */
}

#main-nav-row {
  background: linear-gradient(187deg, #EADB58 0%, #EDDC5E 25%, #E3CE5B 33%, #B97B71 83%, #B67572 89%, #B47174 91%);
  height: 4rem;
  /* emulate .fixed-top */
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}



/***** Header (in /includes/nav.php) *****/
.headerImg {
  margin-top: 60px;
}

.headerGradient {
  background: #0D0D0D;
  color: #F2F2F2;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

img#logo {
  display:none !important;
}

@media (min-width: 576px) {
  .headerGradient {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .headerGradient {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .headerGradient {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .headerGradient {
    max-width: 1140px;
  }
}

.headerConferenceName {
  flex-grow: 1;
}

.headerTitle {
  color: #F2F2F2;
  text-align: center !important;
  text-shadow: none !important;
  /* emulate .display-2 */
  font-size: 5.5rem;
  font-weight: 300;
  line-height: 1.2;
  padding-bottom: 2.5rem;
}

.headerInfoTop {
  color: #F2F2F2;
  display: none;
}

.headerInfoBottom {
  color: #F2F2F2;
  display: none;
}



/***** Main content (e.g. h1-h6, a, etc) *****/
main {
  background-color: #0D0D0D;
  color: #F2F2F2;
  box-shadow: -5px 10px 30px #11001A;
  padding-top: 0 !important;
  margin-top: 0 !important;
}

a {
  color: #E378CE;
  /* color: #FD5DD5; */
}

a:hover {
  color: #DE5BC3;
  /* color: #ca0298; */
}

h1 {
  border-bottom: 1px solid #424242;
  border-radius: 32%;
}

.indPageTitle {
  color: #a061d1;
}

.pageSubtitle {
  color: #a061d1;
}

.subSubtitle {
  color: #f2e68c;
}

/* doesn't apply in this theme */
/* #iacrLogo {
  height: 4rem;
} */

/* extraneous */
/* body, .listItems {
  background-color: #FEFDFB;
} */



/***** Main Content: cards *****/
.customCard {
  border: 1px solid #484848;
}

.customCardHeader {
  color: #C48265;
  text-align: center;
  border-radius: 12%;
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
  border-bottom: 2px solid #424242;
  font-size: 1.75rem;
}

.dateTitle {
  color: #FFBB9E;
}

.customCardFooter {
  /* NOTE: typically this is a more transparent version of the card header bg color */
  background-color: rgba(52, 20, 77, 0.6);
}



/***** Main Content: images & icons *****/
.icon {
  /* thanks https://codepen.io/sosuke/pen/Pjoqqp for generating this filter (the first two properties set the icon to black first to achieve a truer color match) */
  filter: brightness(0) saturate(100%) invert(86%) sepia(8%) saturate(4081%) hue-rotate(306deg) brightness(114%) contrast(101%);
}

.sponsorLogo {
  background-color: #F2F2F2;
  border-radius: 25%;
}



/***** Footer *****/
footer {
  background-color: #11001A;
  color: #F2F2F2;
  text-align: center;
  font-size: small;
  padding: 0.7rem;
  margin-bottom: 0 !important;
}
