/* Color palette by Kay McKelly: https://coolors.co/a1480d-f3f3fb-266dd3-2261ba-0b3f87 */



/***** General Styling *****/
body {
  background-color: #F3F3FB;
}



/***** Header (in /includes/nav.php) *****/
/* A glow around the IACR logo */
img#logo {
  border-radius: 50%;
  box-shadow: 0px 0px 20px 0px rgba(255,255,255,.5);
}

/* a background image on the header. It may need to be muted by .headerGradient */
.headerImg {
  background-image: url("../images/banners/linesDesat.jpg");
  background-size: cover;
  height: 280px;
}

@media (min-width: 768px) {
  .headerImg {
    height: 250px;
  }
}

/* optional gradient to blur header image. */
.headerGradient {
  background: linear-gradient(rgba(38, 109, 211, 0.8), rgba(243, 243, 251, 0.5));
}

.headerTitle {
  color: #F3F3FB;
  text-shadow: 0 0 12px #0B3F87;
  font-size: 2.9rem;
}

.headerInfoTop, .headerInfoBottom {
  color: #F3F3FB;
  text-shadow: 0 0 12px #0B3F87;
}



/***** Nav (in /includes/nav.php) *****/
#main-nav-row {
  background-color: #0B3F87;
}

div.dropdown-menu {
  color: #FEFDFB;
  background-color: #0B3F87;
}



/***** Main content (e.g. h1-h6, a, text, etc) *****/
a, .indPageTitle, .dateTitle {
  color: #8E3F0B;
}

a:hover {
  color: #2261BA;
}

.pageSubtitle {
  color: #266DD3;
}

.subSubtitle {
  color: #0B3F87;
}

/* NOTE: custom button colors typically derived from the two most common colors in a given theme */
.customBtn-warm {
  background-color: rgba(161, 72, 13, 0.4);
}

.customBtn-cool {
  background-color: rgba(38, 109, 211, 0.9);
  color: #F3F3FB;
}

code {
  color: #266DD3;
}



/***** Main Content: cards & alerts *****/
.customCard {
  border: 1px solid rgba(38, 109, 211, 0.5);
}

.customCardHeader {
  background-color: #266DD3;
  color: #F3F3FB;
}

.customAlert-warm {
  background-color: rgba(161, 72, 13, 0.2);
  border-color: rgba(161, 72, 13, 0.5);
}

.customAlert-cool {
  background-color: rgba(11, 63, 135, 0.2);
  border-color: rgba(11, 63, 135, 0.5);
}

.customCardFooter {
  background-color: rgba(38, 109, 211, .2);
}


/***** Main Content: images & icons *****/
/* change color of icons */
.icon {
  /* thanks https://codepen.io/sosuke/pen/Pjoqqp for generating this filter (the first two properties set the icon to black first to achieve a truer color match) */
  filter: brightness(0) invert(36%) sepia(12%) saturate(7062%) hue-rotate(193deg) brightness(97%) contrast(92%);
}


/**** Program specific colors ********/

div.trackMenu a.nav-link {
   background-color: #f8f8f8 !important;
}
div.trackMenu .nav-link.active {
  background-color: rgba(177, 181, 231, 0.3);
  color: #0F773C;
}
div.sessionList div.session {
  background-color: rgba(177, 181, 231, 0.3);
}
