/* NOTE: this is a supplemental style sheet. You should select one of the
   styles/*_theme.css files to include (orange_theme.css is included by default).
*/

/***** General styling *****/

.headerImg {
  background-image: url("../images/banners/globe.jpg");
}

body, .listItems {
    background-color: #f0f0f0; /* was #EDFDF4; */
}


/***** Nav (in /includes/nav.php) *****/
nav#mainmenu {
  background-color: #EDFDF4;
}


/***** Header (in /includes/nav.php) *****/
.headerGradient {
  background: rgba(15, 118, 59, 0.6);
  background: -webkit-linear-gradient(rgba(15, 118, 59, 0.6), rgba(237, 253, 244, 1));
  background: -o-linear-gradient(rgba(15, 118, 59, 0.6), rgba(237, 253, 244, 1));
  background: -moz-linear-gradient(rgba(15, 118, 59, 0.6), rgba(237, 253, 244, 1));
  background: linear-gradient(rgba(15, 118, 59, 0.6), rgba(237, 253, 244, 1));
}

.headerTitle {
  color: #2E3192;
}

.headerInfoTop {
  color: #2E3192;
}

.headerInfoBottom {
  color: #2E3192;
}


/***** Main Content: general styling *****/
div#main-nav-row {
    background-color: #004445;
}
.indPageTitle {
  color: #2E3192;
}

.customCard {
    border: 1px solid #6FB98F;
}
.customCardHeader {
    background-color: #2c7873;   /* #265728; */
    color: #f0f0d0;
}
.customCardFooter {
    background-color: #6FB98F; /* #b7dfb8;*/
}
