/* Color theme by Kay McKelly: https://coolors.co/4e2b78-f6fefc-219c89-258e42-23863f-18642c-5e421c-6b321b */



/***** Nav (in /includes/nav.php) *****/
div#main-nav-row {
  background: #258E42;
}

a.nav-link {
  color: #F6FEFC;
  font-size: 1.2rem;
}

div.dropdown-menu {
  color: #F6FEFC;
  background-color: #258E42;
  border: none;
}

a.dropdown-item:hover {
  background-color: #6B321B;
  color: #F6FEFC;
}



/***** Header (in /includes/nav.php) *****/
.headerImg {
  /* TODO: this could use some improvement */
  background-image: url("../images/banners/waveDesat.png");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 128%;
}

.headerGradient {
  background: rgba(239, 239, 239, 0.5);
}

@media (min-width: 992px) {
  .headerTitle {
    font-weight: 600;
    letter-spacing: 1.1rem;
    font-size: 2.5rem;
  }

  /* TODO: not currently getting applied, figure out why */
  .headerInfo {
    font-size: 1.8rem;
  }
}

.headerTitle, .headerInfoTop, .headerInfoBottom {
  color: #0A050F;
  text-shadow: 5px 5px 50px #F6FEFC;
}



/***** Main content (e.g. h1-h6, a, text, etc) *****/
body {
  color: #0A050F;
}

a {
  color: #1A652F;
}

a:hover {
  color: #219C89;
}

.indPageTitle {
  color: #0A050F;
  /* instead of distinguishing with color we're using spacing and size */
  font-size: 2.3rem;
  margin-top: -1rem;
  margin-bottom: 1rem;
  letter-spacing: 4px;
}

.pageSubtitle, .dateTitle {
  color: #6B321B;
}

.subSubtitle {
  color: #4E2B78;
  /* could also do #0A050F */
}

/* NOTE: custom button colors typically derived from the two most common colors in a given theme */
.customBtn-warm {
  background-color: rgba(196, 139, 59, 0.4);
}

.customBtn-cool {
  background-color: rgba(33, 156, 137, 0.7);
  color: #FFF;
}

code {
  color: #6B321B;
}


/***** Main Content: cards & alerts *****/
.customCard {
  border: 1px solid rgba(33, 156, 137, 0.4);
  border-radius: 0.3rem;
}

.customCardHeader {
  color: #18642C;
  border-bottom: 3px solid rgba(33, 156, 137, 0.6);
  background-color: rgba(194, 216, 211, 0.2);
}

.customAlert-warm {
  background-color: rgba(196, 139, 59, 0.2);
  border-color: rgba(196, 139, 59, 0.5);
}

.customAlert-cool {
  background-color: rgba(33, 156, 137, 0.2);
  border-color: rgba(33, 156, 137, 0.7);
}

.customCardFooter {
  background-color: rgba(194, 216, 211, 0.3);
}



/***** Main Content: images & icons *****/
/* change color of icons */
.icon {
  filter: invert(27%) sepia(93%) saturate(388%) hue-rotate(85deg) brightness(93%) contrast(91%);
}



/***** Footer *****/
footer {
  background-color: rgba(239, 239, 239, 0.4);
  padding: 0.7rem 0 0.7rem 0;
  margin-bottom: 0 !important;
}
