/* NOTE: this is a supplemental style sheet. You should only include orange.css OR green.css OR blue.css on all individual html pages. One of these supplemental style sheets MUST be included in addition to main.css */

/***** General styling *****/
body, .listItems {
  background-color: #EDFDF4;
}


/***** Nav (in /includes/nav.php) *****/
nav#mainmenu {
  background-color: #EDFDF4;
}


/***** Header (in /includes/nav.php) *****/
.headerGradient {
  background: rgba(15, 118, 59, 0.6);
  background: -webkit-linear-gradient(rgba(15, 118, 59, 0.6), rgba(237, 253, 244, 1));
  background: -o-linear-gradient(rgba(15, 118, 59, 0.6), rgba(237, 253, 244, 1));
  background: -moz-linear-gradient(rgba(15, 118, 59, 0.6), rgba(237, 253, 244, 1));
  background: linear-gradient(rgba(15, 118, 59, 0.6), rgba(237, 253, 244, 1));
}

.headerTitle {
  color: #2E3192;
}

.headerInfoTop {
  color: #2E3192;
}

.headerInfoBottom {
  color: #2E3192;
}


/***** Main Content: general styling *****/
.indPageTitle {
  color: #2E3192;
}
