/***** General styling *****/
body {
  background-color: #FEFDFB;
  /*purple-based (don't forget to change header gradient to match): #F5F3F7;*/
  /*green based (don't forget to change header gradient to match): #F7FFFB; */
  color: #1F2161;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
}

p {
  text-align: justify;
}

a {
  color: #0F773C;
}

a:hover {
  color: #CB831E;
  text-decoration: none;
}


/***** Nav *****/
.navHeader {
  font-family: 'Roboto Condensed', sans-serif;
  color: #CB831E;
  letter-spacing: 2px;
  margin-left: 5px;
  font-weight: bold;
}

#logo {
  max-height: 7.5em;
}

.navbar-default .navbar-toggle {
  border-color: #2B0058;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #2B0058;
}

a #topNavTitle {
  /*NOTE: for now this color change doesn't work - troubleshoot*/
  /*color: #490096;*/
  font-size: 0.7em;
  line-height: 0.7em;
}


/***** Header *****/
.headerImg {
  background-size: cover;
  background-image: url("../images/ucsb.jpg");
  background-position: center center;
  width: 100%;
  height: 240px;
}

.headerGradient {
  background: rgba(203, 131, 30, 0.6);
  background: -webkit-linear-gradient(rgba(203, 131, 30, 0.6), rgba(254, 253, 251, 1));
  background: -o-linear-gradient(rgba(203, 131, 30, 0.6), rgba(254, 253, 251, 1));
  background: -moz-linear-gradient(rgba(203, 131, 30, 0.6), rgba(254, 253, 251, 1));
  background: linear-gradient(rgba(203, 131, 30, 0.6), rgba(254, 253, 251, 1));
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
  padding: 20px;
}
/* purple base (don't forget to change background color to match): 43, 0, 88, 0.6 and 245, 243, 247, 1 */
/* green base (don't forget to change background color to match): 15, 119, 60, 0.7 and 247, 255, 251, 1 */

.headerTitle {
  font-family: 'Roboto Condensed', sans-serif;
  color: #2E3192;
  text-shadow: 5px 5px 20px #FEFDFB, 0.3px 0.3px #1F2161;
  letter-spacing: 3px;
  font-size: 3.5em;
  padding-top: 20px;
}

.headerInfoTop {
  font-family: 'Roboto Condensed', sans-serif;
  color: #2E3192;
  text-shadow: 5px 5px 20px #FEFDFB, 0.3px 0.3px #1F2161;
  letter-spacing: 2px;
  font-size: 1.7em;
  text-align: right;
  font-weight: bold;
  margin-top: 10px;
  padding-top: 20px;
}

.headerInfoBottom {
  font-family: 'Roboto Condensed', sans-serif;
  color: #2E3192;
  text-shadow: 5px 5px 20px #FEFDFB, 0.3px 0.3px #1F2161;
  letter-spacing: 2px;
  font-size: 1.7em;
  text-align: right;
  font-weight: bold;
}

/* NOTE: fixes iphone header text problem */
@media (max-width: 700px) {
  .headerTitle {
    font-size: 2.8em;
    padding-top: 0px;
  }

  .headerInfoTop {
    font-size: 1.2em;
    padding-top: 0px;
  }

  .headerInfoBottom {
    font-size: 1.2em;
  }
}


/***** Main Content: general styling *****/
.indPageTitle {
  color: #0F773C;
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 2px;
  font-size: 1.8em;
}

.pageSubtitle {
  color: #CB831E;
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 2px;
  font-size: 1.4em;
  font-weight: bold;
}

.sectionSpacing {
  margin-bottom: 20px;
}

.dateTitle {
  color: #CB831E;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.1em;
  font-weight: bold;
  text-align: left;
}

.dateText {
  text-align: left;
}

.footer {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 1em;
}


/***** Page-specific: index *****/
.sponsorLogo {
  max-width: 150px;
}

.firstLogo {
  margin-left: 20px;
  margin-right: 30px;
  margin-bottom: 20px;
}


/***** Page-specific (multiple): call for papers, accommodations *****/
.listItems {
  background-color: #FEFDFB;
  text-align: left;
  border: none;
}

.tableItemTitle {
  color: #46885E;
  font-size: 1.1em;
}

.listText {
  text-align: left;
}


/***** Page-specific: accepted papers *****/
.paperTitle {
  font-size: 1.1em;
  font-weight: bold;
  color: #0F0439;
}


/***** Page-specific: accommodations *****/
.bottomBtn {
  margin-bottom: 50px;
}

.hotelBtn {
  margin-bottom: 20px;
}


/***** Page-specific: call for papers *****/
@media only screen and (max-width : 767px) {
  .colFix {
    height: auto !important;
  }
}


/***** Page-specific: registration *****/
#regTable {
  border: 1px solid rgba(70, 136, 94, 0.2);
  border-radius: 15px;
}

#regTopRow {
  border-bottom: 1px solid rgba(70, 136, 94, 0.2);
}

#regBodyRow {
  padding-top: 10px;
}

p.regTitle {
  font-size: 1.1em;
  font-weight: bold;
  padding-top: 8px;
  text-align: center;
}

p.regBodyText {
  text-align: left;
}

p.priceText {
  text-align: center;
}


/***** Page-specific: program *****/
a.iconLink {
  font-size: 1.7em;
}

p.timeSlot {
  text-align: left;
  margin-bottom: 10px;
}

p.eventDescr {
  text-align: left;
}

p.paperTitle {
  text-align: left;
  font-weight: bold;
}

.test {
  background-color: purple;
}

/*TODO: center text for mutual events?*/
.mutualEvent {
  /*lighter version of main purple from logo, exceeds webAIM standards*/
  background-color: #E1E2F5;
  margin-bottom: 10px;
  /*border: 1px solid #2E3192;*/
  /*border-radius: 4px;*/
}

/*NOTE: removes eventWrap when on mobile*/
@media only screen and (max-width : 767px) {
    .eventWrap {
        height: auto !important;
    }
}

#eventWrap {
  overflow: hidden;
  margin-bottom: 10px;
}

.track1Event {
  /*lighter version of green, exceeds webAIM standards*/
  background-color: #DCFAE9;
  margin-bottom: -99999px;
  padding-bottom: 99999px;
  /*NOTE: had to remove border and radius from track1Event/track2Event/mutualEvent, as they don't work well with the stupid eventWrap with lack of overflow; bottom looks flat while top would be rounded with visible border*/
  /*border: 1px solid #0F773C;*/
  /*border-radius: 4px;*/
}

.track2Event {
  /*lighter version of orange, exceeds webAIM standards*/
  background-color: #fbf2e6;
  margin-bottom: -99999px;
  padding-bottom: 99999px;
  /*border: 1px solid #CB831E;*/
  /*border-radius: 4px;*/
}
