/* body {
  padding: 50px 0 0 0;
} */

/* .navmenu {
  padding-top: 35px;
} */

/*fixes mobile nav scroll issue*/
/* @media (max-height: 600px) {
  .navmenu {
    max-height: 500px;
    overflow-y: scroll;
  }
} */

/* .navbar {
  display: block;
  text-align: center;
}

.navbar-brand {
  display: inline-block;
  float: none;
}

.navbar-toggler {
  position: absolute;
  float: left;
  margin-left: 15px;
}

.container {
  max-width: 100%;
} */

/* @media (min-width: 1px) {
  .navbar-toggler {
    display: block !important;
  }
}

@media (min-width: 992px) {
  body {
    padding: 0 0 0 300px;
  }
  .navmenu {
    padding-top: 0;
  }
  .navbar {
    display: none !important; /* IE8 fix */
  }
} */

/*** start bootstrap side menu ***/
body {
  overflow-x: hidden;
}

#mainmenu {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
  min-width: 35vh;
}

/* NOTE: not used (yet?) */
/* #page-content-wrapper {
  min-width: 100vw;
} */

#wrapper.toggled #mainmenu {
  margin-left: 0;
}

@media (min-width: 768px) {
  #mainmenu {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #mainmenu {
    margin-left: -15rem;
  }
}
/* end start bootstrap */
