/***** 
  Color theme by Kay McKelly
  https://color.adobe.com/cryptography-brights-color-theme-1767fb7d-9a95-43b9-8628-c7a4420913b7/

  HEX: #CB831E, #FEFDFB, #1F2161, #2E3192, #0F773C
  RGBA: rgba(203, 131, 30, 1), rgba(254, 253, 251, 1), rgba(31, 33, 97, 1), rgba(46, 49, 146, 1), rgba(15, 119, 60, 1)
  HSLA: hsla(35, 74, 45, 1), hsla(40, 60, 99, 1), hsla(238, 51, 25, 1), hsla(238, 52, 37, 1), hsla(145, 77, 26, 1)
*****/


/***** Header (in /includes/nav.php) *****/
.headerImg {
  background-image: url("../images/banners/circuit.jpg");
}

.headerGradient {
  background: rgba(204, 132, 30, 0.6);
  background: -webkit-linear-gradient(rgba(204, 132, 30, 0.6), rgba(254, 253, 251, 1));
  background: -o-linear-gradient(rgba(204, 132, 30, 0.6), rgba(254, 253, 251, 1));
  background: -moz-linear-gradient(rgba(204, 132, 30, 0.6), rgba(254, 253, 251, 1));
  background: linear-gradient(rgba(204, 132, 30, 0.6), rgba(254, 253, 251, 1));
}

.headerTitle {
  color: #2E3192;
}

.headerInfoTop, .headerInfoBottom {
  color: #2E3192;
}



/***** Main Content (e.g. h1-h6, a, text, etc) *****/
a {
  color: #0F773C;
}

a:hover {
  color: #CB831E;
}

.icon {
  filter: invert(16%) sepia(91%) saturate(6408%) hue-rotate(156deg) brightness(92%) contrast(88%);
}

.indPageTitle {
  color: #0F773C;
}

.pageSubtitle {
  color: #CB831E;
}

.subSubtitle {
  color: #0F773C;
}

.dateTitle {
  color: #CB831E;
}

/* NOTE: custom button colors typically derived from the two most common colors in a given theme */
.customBtn-warm {
  background-color: rgba(203, 131, 30, 0.6);
}

.customBtn-warm:hover {
  background-color: #D1871F;
  color: #030303;
}

.customBtn-cool {
  background-color: rgba(15, 119, 60, 0.4);
}

.customBtn-cool:hover {
  background-color: #0C6432;
  color: #FEFDFB
}

code {
  color: #CB831E;
}



/***** Main Content: cards & alerts *****/
.customCard {
  border: 1px solid rgba(203, 131, 30, 0.3);
}

.customCardHeader {
  background-color: rgba(203, 131, 30, 0.4);
  color: #1F2161;
}

.customAlert-warm {
  background-color: rgba(255, 203, 13, 0.3);
  border-color: rgba(255, 203, 13, 0.6);
}

.customAlert-cool {
  background-color: rgba(15, 119, 60, 0.2);
  border-color: rgba(15, 119, 60, 0.5);
}

.customCardFooter {
  /* NOTE: typically this is a more transparent version of the card header bg color */
  background-color: rgba(203, 131, 30, 0.1);
}


/**** Program specific colors ********/
div.trackMenu a.nav-link {
   background-color: #f8f8f8 !important;
}
div.trackMenu .nav-link.active {
  background-color: rgba(242, 210, 166, 0.3) !important;
  color: #0F773C;
}
div.sessionList div.session {
  background-color: rgba(242, 210, 166, 0.3);
}


/***** registration.php *****/
#regTable {
  /* NOTE: if you prefer a registration table with fewer borders, comment out the following three lines. You will also 
  need to comment some lines out in main.css */
  border-top: 1px solid rgba(15, 119, 60, 0.2);
  border-right: 1px solid rgba(15, 119, 60, 0.2);
  border-left: 1px solid rgba(15, 119, 60, 0.2);

  /* NOTE: if using #regFoot comment this out */
  /* border-bottom: 1px solid rgba(15, 119, 60, 0.2); */
}

#regTopRow {
  border-bottom: 1px solid rgba(15, 119, 60, 0.2);
}

#regFoot {
  background-color: rgba(15, 119, 60, 0.1);
}