/* Color palette by Kay McKelly: https://coolors.co/eef5f6-e9ab1c-2f8899-046577-102a83 and https://coolors.co/2e3192-50a4af-038273-046577-383db9 */
/*****
 Color theme by Kay McKelly
https://color.adobe.com/teal-theme-color-theme-789edb12-b962-4252-a783-e72e6032a5dd/
TODO: poss switch to https://color.adobe.com/beach-with-fog-color-theme-eede664a-9887-4937-903c-23d937afe4bb/

 HEX: #E9AB1C, #EEF5F6, #50A4AF, #2F8899, #046577, #038273, #102A83, #2E3192, #383DB9
 RGBA: rgba(233, 171, 28, 1), rgba(238, 245, 246, 1), rgba(80, 164, 175, 1), rgba(47, 136, 153, 1), rgba(4, 101, 119, 1), rgba(3, 130, 115, 1), rgba(16, 42, 131, 1), rgba(46, 49, 146, 1), rgba(56, 61, 185, 1)
 HSLA: hsla(41, 82, 51, 1), hsla(187, 30, 94, 1), hsla(186, 37, 50, 1), hsla(189, 52, 39, 1), hsla(189, 93, 24, 1), hsla(172, 95, 26, 1), hsla(226, 78, 28, 1), hsla(238, 52, 37, 1), hsla(237, 53, 47, 1)
*****/


/***** General styling *****/
body {
  background-position: top;
  background-repeat: no-repeat;
  background-image: url("../images/banners/ellipses.svg");
  background-size: cover;
}

#pageTop {
  /* equivalent of d-flex */
  display: -ms-flexbox !important;
  display: flex !important;
  /* equivalent of flex-column-reverse */
  -ms-flex-direction: column-reverse !important;
  flex-direction: column-reverse !important;
}



/***** Nav (in /includes/nav.php) *****/
#mainNavRow {
  background-color: #046577;
  /* emulated fixed-top */
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

div.dropdown-menu {
  background-color: #046577;
  color: #FEFDFB;
}

a.dropdown-item {
  color: #FEFDFB;
}



/***** Header (in /includes/nav.php) *****/
/* stacks conf name atop dates & location */
#titlesLogoDiv {
  flex-direction: column;
}

@media (min-width: 768px) {
  #titlesLogoDiv {
    /* compensates for padding that is necessary in other themes but not in teal */
    padding-top: 3.5rem;
  }
}

.headerTitle, .headerInfoTop, .headerInfoBottom {
  color: #2E3192;
}

/* negates margin bottom set in main.css (which is necessary in most other themes for .headerTitle) */
.headerTitle {
  margin-bottom: 2rem;
  font-size: 2.8rem;
}

/* bumps titles down so they don't run into the navbar */
.headerImg {
  margin-top: 4.5rem;
  margin-bottom: 0.2rem;
}

div.headerLogo {
  position: absolute;
  right: 2rem;
  top: 4rem;
}

/* only use if dates span months/otherwise wrap on mobile & smaller screens */
/* @media (max-width: 768px) {
  div.headerInfo>h3 {
    font-size: 1.1rem;
  }
} */

div.headerInfo > h3 {
  /* if uncommenting above style, uncomment this as well */
  /* font-size: 1.3rem; */
  text-align: center;
}

div.pageTopContainer {
  position: relative;
}



/***** Main Content (e.g. h1-h6, a, text, etc) *****/
main {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

a:hover {
  color: #E9AB1C;
}

.indPageTitle, a {
  color: #046577;
}

.pageSubtitle {
  font-weight: normal;
  color: #038273;
}

.subSubtitle {
  color: #783804;
  font-weight: normal;
}

.dateTitle {
  color: #038273;
}

.customBtn-warm {
  background-color: rgba(203, 131, 30, 0.4);
}

.customBtn-warm:hover {
  background-color: rgba(203, 131, 30, 0.6);
}

.customBtn-cool {
  background-color: rgba(4, 101, 119, 0.4);
  color: #0A0C0D;
}

.customBtn-cool:hover {
  background-color: rgba(4, 101, 119, 0.6);
  color: #0A0C0D;
}

code {
  color: #008577;
}



/***** Main Content: cards & alerts *****/
.customCard {
  border: 1px solid rgba(148, 163, 166, 0.2);
}

.customCardHeader {
  background-color: rgba(148, 163, 166, 0.1);
  color: #038273;
}

.customAlert-warm {
  background-color: rgba(203, 131, 30, 0.2);
  border-color: rgba(203, 131, 30, 0.5);
}

.customAlert-cool {
  background-color: #D4E6E9;
  border-color: #ABCED4;
}

icon {
  filter: brightness(0) invert(31%) sepia(25%) saturate(4001%) hue-rotate(145deg) brightness(99%) contrast(101%);
}

.customCardFooter {
  background-color: rgba(203, 131, 30, 0.1);
}



/***** Page-specific: program *****/
div.trackMenu a.nav-link {
  color: #038273;
}

div.trackMenu .nav-link.active {
  background-color: rgba(228, 238, 240, 0.6) !important;
  color: #383DB9 !important;
}

div.sessionList div.session {
  background-color: rgba(228, 238, 240, 0.6);
}
